<div class="gamebg">
  <div class="container">
    <div class="formtile">
      <h1 class="title-animation">Favorite games</h1>
      <br />
      <div class="container">
        <div class="row">
          {{#each user.favourites}}
            <div class="col-md-4 mb-5">
              <div class="card" style="width: 20rem;">
                <a href="/game-details/{{_id}}"><img
                    src="{{picture}}"
                    class="card-img-top"
                    alt="{{gameName}}"
                    onerror="this.src='../../images/card_games_background.jpg'"
                  /></a>
                <div class="card-body">
                  <h5 class="card-title">{{gameName}}</h5>
                  <p class="card-title">Author:
                    <a
                      class="dark-link"
                      href="../../user/{{createdBy.id}}"
                    >{{createdBy.username}}</a></p>
                  <div class="d-flex justify-content-center"><a
                      href="/game-details/{{_id}}"
                      class="button-main smaller-btn learn-more"
                    ><span>Learn more</span></a></div>
                </div>
              </div>
            </div>
          {{else}}
            <p>You haven't created any games!!</p>
          {{/each}}
        </div>
        <p class="page page-menu padding-bottom-md">Page
          {{page}}
          of
          {{pages.length}}
          pages</p>
        <div class="page-menu">
          {{#each pages}}<a
              class="page"
              href="/game-library/?page={{this}}"
            >Page
              {{this}}</a>{{/each}}
        </div>
      </div>
    </div>
  </div>
</div>