<div class="gamebg">
  <div class="container">
    <div class="formtile">
      <h1 class="title-animation">Games Library</h1>
      <br>
      <div>
        <div class="row">
          {{#each games}}
            <div class="col-md-4 mb-5">
              <div class="card" style="width: 20rem;">
                <a href="/game-details/{{_id}}"><img
                    src=""
                    class="card-img-top"
                    alt="{{gameName}}"
                    onerror="this.src='../images/card_games_background.jpg'"
                  /></a>
                <div class="card-body">
                  <h5 class="card-title">{{gameName}}</h5>
                  <p class="card-title">Author: {{createdBy.username}}</p>
                  <p class="card-title">Votes: {{numberOfVotes}}</p>
                  <div class="d-flex justify-content-center"><a href="/game-details/{{_id}}" class="button-main smaller-btn learn-more"><span>Learn more</span></a></div>
                </div>
              </div>
            </div>
          {{else}}
            <p>There are no games!</p>
          {{/each}}
        </div>
        <p class="page page-menu padding-bottom-md">Page {{page}} of {{pages.length}} pages</p>
        <div class="page-menu">
          {{#each pages}}<a
              class="page"
              href="/game-library/?page={{this}}"
            >Page
              {{this}}</a>{{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
