
<H2>Game Details Page</H2>


<p><i>Current game id is {{game._id}}</i></p>

<a href="/update-game/{{game._id}}">Edit this game</a>
<br>
<br>
<form action="/delete-game/{{game._id}}" method="post">
    <button type="submit">Delete this game</button>
</form>
<br>
<br>

<h5><u>Comments</u></h5>
{{#unless game.comments}}
<p>No comments yet!</p>
{{/unless}}

{{#each game.comments}}
    <div class="comment-box">
        <i>{{this.createdAt}}</i>
        <p><b>{{this.author.username}}:</b> {{this.content}}</p>
        <br>        
    </div>
{{/each}}
<br>

<h5>Comment on this game</h5>
<form action="/comment/{{game._id}}/add" method="post">
    <textarea name="content" class="game-large-text-input"></textarea>
    <!--<input type="hidden" name="author" value="<some user>"/>-->
    <br>
    <button type="submit">Add comment</button>
</form>

