<div class="gamebg">
  <div class="container">
    <div class="formtile">
      <div class="col-md-8 formbg-game">
<h1 class="title-animation">{{game.gameName}}</h1>

{{#if errorMessage}}
    <p class="gameFormErrorMessage">{{errorMessage}}</p>
  {{/if}}

<div class="game-details">
    <div id="players-and-decks">
        <div>Minimum players: <b>{{game.numberOfPlayers}}</b></div>
        <div>Number of decks: <b>{{game.numberOfDecks}}</b></div>
        <div class="vote-box">
            <a href="/game/{{game._id}}/vote">
                <p>{{game.numberOfVotes}}</p>
                <img class="vote-arrow-img" src="/images/arrow-vote.png">
            </a>
        </div>
        <form action="/game/{{game._id}}/add-to-favourites">
            <button type="submit" class="button-main mid-btn favorites-btn"><span>Add to favourites</span></button>
        </form>
    </div>
    <div>Author: <a class="dark-link" href="../user/{{game.createdBy.id}}">🔗{{game.createdBy.username}}</a></div>
    <br>
    <h4><b>How to Play:</b></h4>
    <p>{{game.instructions}}</p>

    <h4><b>Rules:</b></h4>
    <p>{{game.rules}}</p>
</div>

{{#if author}}
<div class="row"><a href="/update-game/{{game._id}}" class="button-main mid-btn"><span>Edit this game</span></a>
<form action="/delete-game/{{game._id}}" method="post">
    <button type="submit" class="button-main mid-btn"><span>Delete this game</span></button></div>
</form>
{{/if}}
<br>
<br>

<h5><u>Comments</u></h5>
{{#unless game.comments}}
<p>No comments yet!</p>
{{/unless}}

{{#each game.comments}}
    <div class="comment-box">        
        <i>{{this.createdAt}}</i>
        <p><b>{{this.author.username}}:</b> {{this.content}}</p>
        <form id="comment-form-{{this._id}}" action="/comment/{{../game._id}}/{{this._id}}/edit" type="post"></form>
        <!--<a class="game-comment-link" href="/comment/{{../game._id}}/{{this._id}}/edit">edit</a>-->
        <a class="game-comment-link" href="/comment/{{../game._id}}/{{this._id}}/delete">delete</a>    
    </div>
{{/each}}

<br>

<h5>Comment on this game</h5>
<form action="/comment/{{game._id}}/add" method="post">
    <textarea name="content" class="form-control"></textarea>
    <!--<input type="hidden" name="author" value="<some user>"/>-->
    <br>
    <button type="submit" class="button-main" style="margin: 0 auto"><span>Add comment</span></button>
</form>
      </div>
    </div>
  </div>
</div>
