<div class="gamebg">
  <div class="container">
    <div class="formtile">
      <div class="col-md-3 formbg">
        <h2>Update game</h2>

        <form action="/update-game/{{game._id}}" method="post">
          {{! only shows if user errors in completing form properly }}
          {{#if errorMessage}}
            <p class="gameFormErrorMessage">{{errorMessage}}</p>
          {{/if}}
          <div class="form-group">
            <label for="gameName">Name of the game:
              <input type="string" name="gameName" class="form-control" value="{{game.gameName}}"/>
            </label>
          </div>
          <br />
          <div class="form-group">
            <label for="numberOfPlayers">Minimum number of players needed:
              <input
                type="number"
                name="numberOfPlayers"
                min="1"
                class="game-number-input"
                value="{{game.numberOfPlayers}}"
              />
            </label>
          </div>
          <br />
          <div class="form-group">
            <label for="numberOfDecks">How many decks of cards are required:
              <input
                type="number"
                name="numberOfDecks"
                min="1"
                class="game-number-input"
                value="{{game.numberOfDecks}}"
              />
            </label>
          </div>
          <br />
          <div class="form-group">
            <label for="instructions">How to play:
              <br />
              <textarea
                type="text"
                name="instructions"
                class="form-control"
                style="height:150px;"
              >{{game.instructions}}</textarea>
            </label>
          </div>
          <br />
          <div class="form-group">
            <label for="rules">Rules:
              <br />
              <textarea
                name="rules"
                class="form-control"
                style="height:150px;"
              >{{game.rules}}</textarea>
            </label>
          </div>
          <br />
          <input type="hidden" name="createdBy" value="{{user._id}}" />
          <div align="center"><button class="button-main" type="submit"><span
              >Save changes</span></button></div>
        </form>
      </div>
    </div>
  </div>
</div>